body {
	max-width: 900px;
	margin: 0;
	font-family: monospace;
	font-size: 16px;
	line-height: 1.4;
}

h1 {
	margin: 0;
	font-size: 1.75rem;
	font-weight: normal;
	line-height: 1.2;
}

header {
	margin-bottom: 1rem;
}

.app {
	padding: 0.5rem;
}

form {
	max-width: 70%;
}

label {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

input, textarea {
	flex: 1;
}

nav {
	display: flex;
}

nav a {
	display: block;
	margin-right: 1rem;
}

main {
	margin: 1rem 0;
}

section {
	margin-top: 2rem;
}

article {
	margin: 1rem 0;
	padding: 5px;
	border: 1px solid black;
}

footer {
	text-align: center;
}
